<!DOCTYPE html>
<html>
  <head>
    <title>Mail Service</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>Mail Service</h1>
    </header>
    <h3>Welcome to Mail Service</h3>
    <main>
      <form action="users/login" method="post">
        <input type="text" name="id" id="" placeholder="ID" />
        <input type="text" name="pwd" id="" placeholder="PASSWORD" />
        <input type="submit" name="" id="" value="login" />
      </form>
    </main>
    <script src="/js/index.js"></script>
  </body>
</html>
